.categories {
    margin-top: 125px;
    background: url("category-background.jpg") no-repeat center center/cover;
    min-height: 76vh;
    position: relative;
    padding: 20px;
  }
  .categories::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* adjust the 0.5 for more or less darkness */
    z-index: 0;
}
  .categories .form-container {
    position: absolute;
    left:33%;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(248, 238, 148, 0.532);
    max-width: 500px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.342);
    border-radius: 12px;
  }

.form-container h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: #008767;
    margin-bottom: 12px;
    text-align: center;
    padding-top: 10px; 
}

.form-container button {
    width: 100%;
    padding: 15px;
    height: 30%;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

.categories button:hover {
    background: linear-gradient(135deg, #e7e5e5, #a9a9a9);
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}