.categories {
    background: url("category-background.jpg") no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    padding: 20px;
  }
  .categories .form-container {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(219, 219, 217);
    max-width: 500px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.342);
    border-radius: 12px;
  }

.form-container h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: #1b9276;
    margin-bottom: 12px;
    text-align: center;
    padding-top: 10px; 
}

.form-container button {
    width: 100%;
    padding: 15px;
    height: 30%;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #d2d3d9, #c5bdbd);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.248);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

.categories button:hover {
    background: linear-gradient(135deg, #e7e5e5, #777679);
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}