/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 20%, 98%);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.899);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
   
}
.logo1 {
    width: 250px;  /* Adjust width */
    height: auto;  /* Maintain aspect ratio */
    max-width: 100%; /* Make it responsive */
    max-height: 160px;
    filter: drop-shadow(3px 3px 6px rgb(0, 0, 0)); /* Optional shadow */
}

.logo {
    float: left;
    font-size: 20px;
    margin-top: 0%;
    margin-left: 0%;
}

nav {
    float: right;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;

}

nav ul {
    list-style: none;
    margin-right: 0px;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
    padding: 14px 20px;
    display: inline-block;

}

nav ul li a:hover {
    color: #ffffff;
    background-color: rgb(38, 73, 118);
    border-radius: 5px;
}

/* Home Section */
.home-section {
    height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    text-align: left ;
    margin-left:0px;
    background: url('Background-home1.jpg') no-repeat center center/cover;
}

.home-section h1{
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(34, 75, 71);
    text-align: left;
    margin-left: 0px;
}
.home-section p, h3{
    font-size: 1em;
    color: #ffffff;
}
.quote {
    font-size: 2vw;
    font-style: italic;
    color: #63afe6;
}
.cts-button {
    background: linear-gradient(135deg, #10689b, #147b7b);
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
    color: #161616;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 229, 111, 0.096);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.cts-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(77, 66, 66, 0.2) 10%, rgba(255, 255, 255, 0) 50%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}

.cts-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.cts-button:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 20px rgba(51, 172, 138, 0.09);
    background: linear-gradient(135deg, #7d71b5, #028aac);
}

/* Overview Section */
.overview-section {
    padding: 100px 0;
    text-align: center;
    font-size: 1.1em;
    
}

.overview-section h1 {
    font-size: 2.5em;
    color: #1ba290;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.overview-section q  {
    color:#6f77eb;
    font-size: 1.3em;
}

/* Help Section */
.help-section {
    padding: 80px 0;
    background-color: #000000;
    text-align: center;
}

.help-section h2 {
    font-size: 2.5em;
    color: #1ba290;
    margin-bottom: 30px;
}

.help-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.help-card {
    background:linear-gradient(145deg, #0d0d0d, #201f1f);
    padding: 20px;
    margin:2%;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 8px 10px rgba(28, 28, 80, 0.184), 0 -8px 10px  rgba(28, 28, 80, 0.184), 8px 0 10px  rgba(28, 28, 80, 0.184), -8px 0 10px rgba(28, 28, 80, 0.184);
    width: 300px;
    text-align: center;
}

.help-card:hover {
    transform: scale(1.05);
}

.help-card h3 {
    font-size: 1.5em;
    color: #0d6ed0;
    margin-bottom: 10px;
}

.help-card p {
    font-size: 1em;
    color: #afd6d0;
}

/* Trust Section */
.trust-section {
    padding: 80px 0;
    background-color: #000000;
    text-align: left;
}

.trust-section h2 {
    font-size: 2.5em;
    color:  #1ba290;
    margin-bottom: 30px;
    text-align: center;
}

.trust-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.trust-card {
    background: #000000;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(231, 238, 255, 0.386);
    width: 260px;
    text-align: center;
}

.trust-card img {
    width: 80px;
    height: auto;
    margin-top: 10px;
}

.trust-card h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.trust-points  ul {
    list-style-type: circle; 
    padding: 0;
    margin-top: 10px;
    text-align: left;
}

.trust-points ul li {
    font-size: 1.1em;
    color: #ffffff;
    position: relative;
    margin-bottom: 8px;
}